CRISPASR_IMAGE=ghcr.io/crispstrobe/crispasr:main
CRISPASR_IMAGE_CUDA=ghcr.io/crispstrobe/crispasr:main-cuda
CRISPASR_PORT=8080
CRISPASR_MODEL=/models/model.gguf
CRISPASR_BACKEND=
CRISPASR_LANGUAGE=auto
CRISPASR_AUTO_DOWNLOAD=0
CRISPASR_EXTRA_ARGS=
